<!DOCTYPE HTML>
<html>
  <head>
    <title>Add Todo</title>
  </head>
    <div>
      <h2>일정 등록</h2>
      <span>일정 이름</span>
      <input type = 'text'><br>
      <span>날짜</span>
      <input type = 'date'><br>
      <span>시간</span>
      <input type = 'time'><br>
      <span>반복 여부</span>
      <input type = 'checkbox'><br>
      <span>반복 주기</span>
      <input type = 'time'><br>
      <span>반복 기간</span>
      <input type = 'number'><span>일</span><br>
      <button>제출</button>
    </div>
</html>
