<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum: Seize the Moment</title>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
    <div style="width: 100vw; padding: 20px;">
        {% bootstrap_messages %}
    </div>

    <div style="width: 100vw; padding: 20px;">
        <img src="{% static "signin/logo.png" %}" style="width: 60vw;">
    </div>

    <div style="width: 305px; margin: 20px;">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form sign_in_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                로그인
            </button>
            <a type="button" class="btn btn-success" href="/sign_up/">회원가입</a>
            <a type="button" class="btn btn-warning" href="/find_password/">비밀번호를 잊으셨나요?</a>
            {% endbuttons %}
        </form>
    </div>

    <div style="width: 100vw; padding: 20px;">
        <img src="{% static "signin/message.png" %}">
    </div>
</body>
</html>
