{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Habit Maker</title>
  <link rel="stylesheet" href="../../static/css/habitmaker.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">

</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ habit_form }}
    <input type="submit" value="새 습관">
</form>

<table>
  <tr>
    <th>Today</th>
    <th>Habit</th>
    <th>Weather</th>
  </tr>
  {% for habit in habits %}
  <tr>
    <td>
      {% if habit.today_success.count > 0 %}
        <a href="{% url "toggle_success" habit.pk %}">
          <img class="checkbox" src="../../static/css/checkbox/checked.png">
        </a>
      {% else %}
        <a href="{% url "toggle_success" habit.pk %}">
          <img class="checkbox" src="../../static/css/checkbox/unchecked.png">
        </a>
      {% endif %}
    </td>
    <td>
      <h2 style="display: inline">{{ habit.title }}</h2>
      <p style="display: inline" id="success-rate-{{ habit.pk }}">({{ habit.success_rate }} %)</p><br>

      <p style="display: inline">{{ habit.total_days }}일 째 도전 중, </p>
      <p style="display: inline" id="success-days-{{ habit.pk }}">{{ habit.success_days }}일 성공</p>
    </td>
    <td>
      {% if habit.success_rate > 80 %}

        <img class="weather" src="../../static/css/weather/80-100-sun.png">
      {% elif habit.success_rate > 60 %}
        <img class="weather" src="../../static/css/weather/60-80-cloudy.png">
      {% elif habit.success_rate > 40 %}
        <img class="weather" src="../../static/css/weather/40-60-clouds.png">
      {% elif habit.success_rate > 20 %}
        <img class="weather" src="../../static/css/weather/20-40-rain.png">
      {% else %}
        <img class="weather" src="../../static/css/weather/0-20-storm.png">
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
</body>

</html>