<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum: 새 할 일</title>
    {% load staticfiles %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
    {{ header_bar }}

    <div style="width: 100vw; padding-left: 20px; padding-right: 20px;">
        {% bootstrap_messages %}
    </div>

    <div style="width: 100vw; text-align: center;">
        <div style="padding-left: 20px; display: inline-block;">
            {% block content %}
                <h1>새 할 일</h1>
                <form method="post" style="width: 25vw; display: inline-block; text-align: left;">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">
                            등록
                        </button>
                        <a type="button" class="btn btn-danger" href="/todo/">취소</a>
                    </div>
                    {% endbuttons %}
                </form>
            {% endblock %}
        </div>
    </div>
</body>
</html>