<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum: 비밀번호 변경</title>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
    <div style="width: 740px;">
        {{ header_bar }}
    </div>

    <div style="width: 700px; margin: 20px;">
        {% bootstrap_messages %}
    </div>

    <div style="width: 700px; margin: 20px;">
        <img src="{% static "signin/logo.png" %}">
    </div>

    <div style="width: 700px; margin: 20px;">
        <h1>비밀번호 변경</h1>
    </div>

    <div style="width: 300px; margin: 20px;">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form change_password_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                변경
            </button>
            <a type="button" class="btn btn-danger" href="/habitmaker/">취소</a>
            {% endbuttons %}
        </form>
    </div>
</body>
</html>