<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum: 비밀번호 변경</title>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
    {{ header_bar }}

    <div style="width: 100vw; padding: 20px;">
        {% bootstrap_messages %}
    </div>

    <div style="width: 100vw; text-align: center;">
        <div style="width: 100vw; padding-left: 20px; display: inline-block;">
            <img src="{% static "signin/logo.png" %}" style="width: 60vw;">
        </div>

        <div style="width: 100vw; padding-left: 20px; display: inline-block;">
            <h1>비밀번호 변경</h1>
        </div>

        <div style="padding-left: 20px; display: inline-block; text-align: left;">
            <form method="post" style="width: 25vw; display: inline-block;">
                {% csrf_token %}
                {% bootstrap_form change_password_form %}
                {% buttons %}
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">
                        변경
                    </button>
                    <a type="button" class="btn btn-danger" href="/habitmaker/">취소</a>
                </div>
                {% endbuttons %}
            </form>
        </div>
    </div>
</body>
</html>