<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    Sign Up Page!
    <form method="post">
        {% csrf_token %}
        {% for field in sign_up_form  %}
            {{ field.label_tag }} {{ field }} <br/>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    <a href="/sign_in/">Cancel</a>
</body>
</html>