<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum: 회원가입</title>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
    <div style="width: 100vw; text-align: center">
        <div style="width: 100vw; padding: 20px; display: inline-block;">
            {% bootstrap_messages %}
        </div>

        <div style="width: 100vw; padding-left: 20px; display: inline-block;">
            <img src="{% static "signin/logo.png" %}" style="width: 60vw;">
        </div>

        <div style="width: 100vw; padding-left: 20px; display: inline-block;">
            <h1>회원가입</h1>
        </div>

        <div style="padding-left: 20px; display: inline-block; text-align: left;">
            <form method="post" style="width: 25vw; display: inline-block;">
                {% csrf_token %}
                {% bootstrap_form sign_up_form %}
                {% buttons %}
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">
                        회원가입
                    </button>
                    <a type="button" class="btn btn-danger" href="/sign_in/">취소</a>
                </div>
                {% endbuttons %}
            </form>
        </div>
    </div>
</body>
</html>